[Desktop Entry]
Icon=text-html
Name=desain-figma
Type=Link
URL[$e]=https://www.figma.com/design/SImEtU6absgPZ9O367B9t1/PW-PORTO?node-id=0-1&t=3ILegi6KPl9P5y7o-1
